################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/CoreDemo/.vs/CoreDemo/v16
/CoreDemo/CoreDemo.Core/obj
/CoreDemo/CoreDemo.Domain/obj
/CoreDemo/.vs/CoreDemo/DesignTimeBuild/.dtbcache
/CoreDemo/CoreDemo.Core/bin/Debug/netcoreapp2.2
/CoreDemo/CoreDemo.Domain/bin/Debug/netcoreapp2.2
/CoreDemo/CoreDemo.Service/obj
/CoreDemo/CoreDemo.Service/bin/Debug/netcoreapp2.2
/CoreDemo/CoreDemo.UnitTest/obj
/CoreDemo/CoreDemo.UnitTest/bin/Debug/netcoreapp2.2
